/*
font-family: 'Indie Flower', cursive;
font-family: 'Lato', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Rajdhani', sans-serif;
font-family: 'Raleway', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Syne', sans-serif;
*/

:root {
    --DarkRed: rgb(145, 0, 0);
    --SemiDarkRed: rgb(189, 18, 18);
    --LightRed: rgb(193, 0, 0);
    --white: rgb(238, 237, 237);
    --black: rgb(28, 28, 28);
    --mainFont: 'Syne', sans-serif;
}

* {
    font-family: 'Syne', sans-serif;
}

.logo {
    height: 50px;
    width: 50px;
    
}

.navbar {
 background-color: var(--black);


}