/*
font-family: 'Indie Flower', cursive;
font-family: 'Lato', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Rajdhani', sans-serif;
font-family: 'Raleway', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Syne', sans-serif;
*/

:root {
    --DarkRed: rgb(11, 5, 55);
    --SemiDarkRed: rgb(0, 138, 172);
    --LightRed: rgb(18,109,118);
    --white: rgb(238, 237, 237);
    --black: rgb(28, 28, 28);
    --mainFont: 'Syne', sans-serif;
}

* {
    font-family: 'Syne', sans-serif;
}

.logo {
    height: 100px;
    width: 100px;
    
}


.navbar {
    background-color: var(--black);
    
}



/* carosello */

.carosel-custom{
    position: relative;
    inset: 0;
    overflow: hidden;
    z-index: 1;
    transition-duration: 0.4s;
}


.overShadow{
    position: absolute;
    width: 100% ;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
    z-index: 2;
}



.foto1, .foto3{
    width: 100%;
    position: absolute;
    bottom: 1px;
    
}

.formRegister{
    background-image: url('/public/media/bgRegister.jpg');
    padding:70px;
    
}

.btnForm{
    background-color: black;
    border-radius:50px;
    color:white;
}

.btnForm:hover{
    background-color: var(--DarkRed);
    color:white;
}



.hoverLog:hover{
    color: var(--LightRed);
}

input{
    box-shadow: 2px 0px 6px rgba(170, 9, 9, 0.2);
}



.bgLogin{
    background-image: url('/public/media/bgLogin.jpg');
}

.btnLogin{
    background-color: white;
    border-radius:50px;
    color:black;
}

.register{
    color:var(--LightRed);
}

/* footer */
.textColor{
    color: rgba(255, 255, 255, 0.6);
}

.textColor:hover{
    color: var(--LightRed);
    transition: 0.5;
}

footer {
    color: white;
    background: black;
    
    background-size: cover;
    font-size: 15px;
    padding: 80px 80px 0px;
    height: 65vh;
}

a {
    text-decoration: none;
}

.a:hover{
    color:var(--LightRed);
}


.icons-footer:hover{
    color:var(--LightRed);
}

.hr{
    border-bottom: 2px solid var(--LightRed);
    width:200px;
}
.borderCategory{
    transition: 0.4s;
    color: rgb(18,109,118);
    border: 0;
    border-radius: 1;
}

.borderCategory:hover{
    
    scale: 1.1;
    border-left: solid 1px rgb(18,109,118);
    border-right: solid 1px rgb(18,109,118);

}

.btnCard{
    border-radius: 0;
    transition: 0.4s;
}

.btnCard:hover{
    border-bottom: 1px solid var(--LightRed);

}

.pagination {
    --bs-pagination-padding-x: 0.75rem;
    --bs-pagination-padding-y: 0.375rem;
    --bs-pagination-font-size: 1rem;
    --bs-pagination-color: #0dbdfd;
    --bs-pagination-bg: var(--bs-body-bg);
    --bs-pagination-border-width: var(--bs-border-width);
    --bs-pagination-border-color: var(--bs-border-color);
    --bs-pagination-border-radius: var(--bs-border-radius);
    --bs-pagination-hover-color: var(--bs-link-hover-color);
    --bs-pagination-hover-bg: var(--bs-tertiary-bg);
    --bs-pagination-hover-border-color: var(--bs-border-color);
    --bs-pagination-focus-color: var(--bs-link-hover-color);
    --bs-pagination-focus-bg: var(--bs-secondary-bg);
    --bs-pagination-focus-box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
    --bs-pagination-active-color: #fff;
    --bs-pagination-active-bg: #fd0d0d;
    --bs-pagination-active-border-color: #0d6efd;
    --bs-pagination-disabled-color: var(--bs-secondary-color);
    --bs-pagination-disabled-bg: var(--bs-secondary-bg);
    --bs-pagination-disabled-border-color: var(--bs-border-color);
    display: flex;
    padding-left: 0;
    list-style: none;
}